*{
    padding: 0;
    margin: 0;
}

.body{
    background-color: lightgreen;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board{
    background: cornsilk;
    display: grid;
    grid-template-rows: repeat(22,1fr);
    grid-template-columns: repeat(22,1fr);
    border:2px solid gray;
    width:90vmin;
    height:92vmin;
}

.head{
    background-color:green;
    border-radius: 6px;
}

.afterHead{
    background: linear-gradient(green,black);
    border-radius: 10px;
}

#level{
    position: absolute;
    top: 80px;
    font-weight:lighter;
    left: 140px;
    font-size: 25px;
}

#scoreboard{
    position: absolute;
    top: 20px;
    font-weight: bold;
    right: 180px;
    font-size: 30px;
}

.food{
    background-color: red;
    border: 1px solid black;
    border-radius:25px;
}